{{ define "content" }}
  <h2></h2>
  <h1>{{.Page.Type}}</h1>
  {{range .Page.Pages}}
    <article>
      <h2>
          <a href="{{ .Permalink }}" class="inverse">
              {{ .Title }} 
          </a>
      </h2>
      
      <div class="post-summary">    
          {{ $tmp := replace .Summary "\n" "" }}
          {{ $tmp := replace $tmp  "</p><p>" "<br/><br/>"}}
          {{ replace $tmp  "</p>" "" | safeHTML}}
          
          <a class="read-more inverse" href="{{.RelPermalink}}">devamı...</a>
      </div>
      <!-- Display tags -->
      <div class="post-footer">
          <span>
              {{ range .Params.kategori }}
                  <a class="tag" href="/kategori/{{ . | urlize }}">#{{.}}</a>
              {{ end }}
              <i class="when">{{ .Params.When }}{{ if .Params.Where }}, {{ .Params.Where }}
                  {{ end }}</i>
          </span>
      </div>
  </article>
    {{ end }}
{{ end }}
