{{ define "content" }}
<div class="blog-post">
  <h1>
    {{ .Title }}
    <i class="when-post"
      >{{ .Params.When }}{{ if .Params.Where }}, {{ .Params.Where }} {{ end }}
    </i>
  </h1>
  <div class="blog-post-subheader">
    {{if .Params.tags}} {{ range .Params.tags }}
    <a class="tag" href="/tags/{{ . | urlize }}">#{{.}}</a>
    {{ end }} {{ end }}
  </div>
  <div class="blog-post-content">
    {{ .Content }} {{ if .Date }}
    <time>{{ .Date.Format "02/01/2006" }} tarihinde yayınlandı.</time>
    {{ end }}
  </div>
</div>
{{ end }}
