<style>
  :root{
    --main-color: #333745;
    --active-color: #e63462;
    --buyucu-color: #e63462;
    --border-color: #eef5db;
  }

  body {
    font-family: 'Nunito', sans-serif;
    margin: auto;
    color: var(--main-color);
    max-width: 50em;
  }

  a{
    color: var(--active-color);
  }
  
  a:hover,a:active,a:focus{
    color: var(--main-color);
    text-decoration: none;
  }

  a.inverse{
    color: var(--main-color) !important;
  }
  
  a.inverse:hover,a.inverse:active,a.inverse:focus{
    color: var(--active-color) !important;
  }

  .read-more{
    font-weight: normal;
    font-family: 'Nunito', sans-serif;
  }

  .post-footer{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .post-footer .read-more{
    align-self: flex-end;
  }

  .paginator-group{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .when{
    font-size: 0.9rem;
    font-weight: normal;
  }

  .when-post{
    float: right;
    text-align: right;
    font-weight: normal;
    font-size: 0.9rem;
    margin-top: 10px;
  }

  article{
    margin-bottom: 15px;
  }
  
   .blog-post-content,.post-summary{
    font-size: 1rem;
    margin-bottom: 10px;
    font-weight: 300; 
    
  }

  .post-footer{
    border-bottom: 1px solid var(--border-color);
    padding-bottom: 10px;
  }

  .blog-post-content {
    min-height: 150px;
    margin-bottom: 20px;
  }

  .post-picture{
    text-align: center;
    margin: 10px 0;
    font-size: 0.9rem;
  }

  .post-picture em{
    margin-top: 5px;
    display: inline-block;
    text-align: center;
    font-style: italic;
  }

  .post-picture img{
    display: block;
    max-height: 300px;
    margin-left: auto;
    margin-right: auto;
  }

  .blog-post-content img, article img{
    display: block;
    max-width: 75%;
    max-height: 400px;
    margin-left: auto;
    margin-right: auto;
  }

  .navbar-brand{
    font-size: 24px;
    display: flex;
    align-items:center;
    position: relative;
  }
  
  .navbar-brand img{
    max-height: 40px;
  }

  .buyucu{
    font-size: 0.75rem;
    position: absolute;
    right: -32px;
    bottom: 0;
    color: var(--buyucu-color);
  }

  .buyucu-art{
    margin-right: 10px;
  }

  .navbar-brand:hover .buyucu,.navbar-brand:hover img{
    color: var(--main-color);
    
  }

  blockquote {
    margin: 10px 0;
    font-size: 0.9em;
    font-style: italic; 
  }

  blockquote em{
    display: block;
    text-align: left;
  }

  .posts-listing li {
    list-style-type: none;
  }

  

  .navbar {
    padding: 5px 0 0 0;
    margin-bottom: 25px;
    margin-top: 0;
    border-bottom: 1px solid var(--border-color);
    justify-content: space-between;
  }

  .navbar-right{
    flex-grow: 0 !important;
  }

  .not-found{
    text-align: center;
  }

  .date-time-title{
    font-size: 18px;
    font-weight: 700;
  }

  .date-share a{
    color: dimgrey;
    font-size: 10px;
  }

  a.nav-item{
    color: dimgrey !important;
    font-size: 0.9rem;
  }
  h1,h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  h4  {
    font-size: 1.2rem;
  }

  h5  {
    font-size: 1rem;
  }

  h6  {
    font-size: 0.8rem;
  }

  code {
    font-family: 'Ubuntu Mono', monospace;
    white-space: pre;
    overflow-x: auto;
  }

  pre {
    overflow-x: auto;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid rgba(0, 0, 0, .1);
    background-color: #efefef
  }

  footer  {
    text-align: center;
    margin: 15px auto;
  }
  .navbar-expand-md .navbar-nav {
    -ms-flex-direction: row !important;
    flex-direction: row !important;
  }

  .navbar-expand-md .navbar-nav .nav-link {
    padding-right: 0.5rem !important;
    padding-left: 0.5rem !important;
  }
</style>