<style>
  body {
    font-family: 'Ubuntu', sans-serif;
    margin: auto;
    max-width: 50em;
  }

  a{
    color: #6496cc;
  }

  #page-title {
      text-align: center;
  }

  #page-title h1 a {
      color: black;
      font-size: 2.7rem;
  }

  .read-more{
      float: right;
  }

  #author-name h6 a {
    color: black;
    font-weight: normal;
    font-size: small;
  }

  #page-title a:hover, .post a:hover {
      text-decoration: underline;
  }

  article h2 , .blog-post h1{
    font-size: 22px;
    margin-top: 15px;
    font-weight: bold;
  }
  
  article h2 a, .blog-post h1 a{
    color: black;
  }
  
  article, .blog-post-content {
    font-size: 16px;
    font-family: 'Ubuntu Mono', monospace;
    border-bottom: 1px solid #d8d7d7;
    padding-bottom: 10px;
  }

  .date-time-title, .article-content h2 {
      font-family: 'Ubuntu Mono', monospace;
  }

  .blog-post-content img, article img{
    display: block;
    
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  .navbar-brand{
    font-size: 24px;
    display: flex;
    align-items:center;
  }

  .navbar-brand img{
    max-height: 40px;
  }

  .description{
    font-size: 14px;
  }

  blockquote {
    margin: 20px 0;
    font-size: 85%;
  }

  blockquote p{
    text-align: center;
  }

  blockquote em{
    display: block;
    text-align: left;
    font-style: italic;
  }

  .posts-listing li {
    list-style-type: none;
  }

  .navbar-right {
    justify-content: flex-end;
  }

  .navbar {
    padding: 5px 0 0 0;
    border-bottom: 1px solid #908f8f;
    margin-bottom: 0;
    margin-top: 0;
  }

  .nav-link {
    font-size: 14px;
  }

  .not-found{
    text-align: center;
  }

  .date-time-title{
    font-size: 18px;
    font-weight: bold;
  }

  .date-share a{
    color: dimgrey;
    font-size: 10px;
  }

  .blog-post-content {
    min-height: 150px;
    border-bottom: 1px solid rgba(0, 0, 0, .1);
    margin-bottom: 20px;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.7rem;
  }

  h3 {
    font-size: 1.4rem;
  }

  h4  {
    font-size: 1.2rem;
  }

  h5  {
    font-size: 1rem;
  }

  h6  {
    font-size: 0.8rem;
  }

  code {
    font-family: 'Ubuntu Mono', monospace;
    white-space: pre;
    overflow-x: auto;
  }

  pre {
    overflow-x: auto;
    padding-left: 5px;
    padding-right: 5px;
    border: 1px solid rgba(0, 0, 0, .1);
    background-color: #efefef
  }

  footer  {
    text-align: center;
    margin: 15px auto;
  }
</style>